*{
    margin: 0;
    padding: 0;
}
h1 a, h2 a {
    color: #C25100;
}
.h-nav{
    height: 60px;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.div{
    width: 32%;
}